<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <img src="/static/logo.png" class="logo">
    <h1>Регистрация</h1>
</header>

<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="create-btn">Создать аккаунт</button>
    </form>

    <p>Уже есть аккаунт? <a href="/accounts/login/">Войти</a></p>
</div>

</body>
</html>
